.rating-summary {
    margin-top: 22px;
    text-align: center;
}

.rating-summary .rating-average {
    color: #f63;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0 0;
}

.rating-item {
    margin-bottom: 8px;
    text-align: center;
}

.rating-item .progress {
    display: inline-block;
    height: 17px;
    margin: 0;
    vertical-align: middle;
    width: 175px;
}

.rating-item .progress-bar { height: 100%; }

#addreview {
    border-left: solid 1px #e2e2e2;
    padding-left: 15px;
}

#addreview input, #addreview textarea { max-width: 100%; }

.review-item-list > div {
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 13px;
}

.review-item-list > div:last-child { border-bottom: none; }

.review-item-list .review-title { font-weight: 700; }

.review-replies { list-style: none; }

.btn-review-replies:link,
.btn-review-replies:visited,
.btn-review-replies:hover,
.btn-review-replies:active { text-decoration: none; }

.btn-review-replies > i {
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-left: 5px;
    padding: 3px;
}

.arrow-up {
    -webkit-transform: rotate(-135deg);
    margin-bottom: -2px;
    transform: rotate(-135deg);
}

.arrow-down {
    -webkit-transform: rotate(45deg);
    margin-bottom: 1px;
    transform: rotate(45deg);
}