.flexslider .slides img {
    height: 500px;
}
#carousel img {
    width: 120px;
    height: 120px;
}

.product-detail .product-name {
    margin-bottom: 12px;
    border-bottom: 1px solid #dedede;
}
.product-ratings li .rating  {
    color: #dedddc;
    font-size: 14px;
}

.product-ratings li .rating-selected{
    color: #f0c808;
    font-size: 14px;
}

.product-detail .product-short-desc {
    margin: 30px 0;
}

.product-price {
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #FFFFFF;
    text-align: left;
    border: 2px dashed #E0E0E0;
    overflow: hidden;
}

.product-price .product-price-regular{
    text-decoration: line-through;
    padding-top: 5px;
    font-size: 18px;
}

.product-price .product-price-saving {
    color: #b12704;
    clear: left;
}

.product-price h3 {
    font-size: 30px;
    font-weight: 400;
    color: red;
    margin: 0;
    float: left;
    padding-right: 20px;
}

.product-attrs input {
    left: -9999px;
    position: absolute;
}

.product-attrs label {
    width: 80px;
    height: 40px;
    float: right;
    display: block;
    color: #dedede;
    font-size: 24px;
    text-align: center;
    background: #f8f8f8;
    border: 2px solid #dedede;
    font-weight: normal;
}

.product-attrs label {
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.product-attrs label:hover {
	cursor: pointer;
	border: 2px solid #18ba9b;
}

.product-attrs input:checked ~ label {
    color: #18ba9b;
    border-color: #18ba9b;
}

.product-detail .add-to-cart {
    margin-top: 10px;
}

.product-detail .product-quantity {
    float: left;
    margin-right: 30px;
}

.product-detail .quantity-button {
    color: #555;
    width: 55px;
    height: 45px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    background: #eee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

 .product-detail .quantity-field {
    width: 55px;
    height: 45px;
    outline: none;
    margin: 0 -4px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #eee;
}

.product-detail .btn-add-cart {
    background: #18ba9b;
    font-size: 18px;
    padding: 10px 25px;
    border: 0;
    color: #fff;
    border-radius: 0;
}

.product-detail .out-of-stock, .product-detail .product-variation-notavailable {
    font-size: 18px;
}

.product-detail .add-to-lists {
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    margin-top: 40px;
}

.product-detail .add-to-lists li {
    padding-left: 20px;
    margin-right: 10px;
    border-left: 1px solid #dedede;
}

.add-to-lists i {
    color: #8bdccd;
    font-size: 16px;
    margin-right: 7px;
}

.sp-wrap {
    background: none;
    border: none;
}

.rating-summary {
    text-align: center;
    margin-top: 22px;
}

.rating-summary .rating-average {
    margin: 10px 0 0;
    font-size: 35px;
    color: #f63;
    font-weight: 700;
}

.rating-item {
    margin-bottom: 8px;
    text-align: center;
}

.rating-item .progress {
    width: 175px;
    display: inline-block;
    height: 17px;
    vertical-align: middle;
    margin: 0;
}

    .rating-item .progress-bar{
        height: 100%;
    }

    #addreview {
        border-left: solid 1px #e2e2e2;
        padding-left: 15px;
    }

#addreview input, #addreview textarea {
    max-width: 100%;
}

.review-item-list > div {
    margin-bottom: 13px;
    border-bottom: solid 1px #e2e2e2;
}

.review-item-list > div:last-child {
    border-bottom: none;
}

.review-item-list .review-title {
    font-weight: 700;
}

.review-replies {
    list-style: none;
}

.btn-review-replies:link,
.btn-review-replies:visited,
.btn-review-replies:hover,
.btn-review-replies:active {
    text-decoration: none;
}

.btn-review-replies > i {
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}

.arrow-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: -2px;
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 1px;
}

#addcomment {
    border-left: solid 1px #e2e2e2;
    padding-left: 15px;
}

#addcomment input, #addcomment textarea {
    max-width: 100%;
}

.comment-item-list > div {
    margin-bottom: 13px;
    border-bottom: solid 1px #e2e2e2;
}

.comment-item-list > div:last-child {
    border-bottom: none;
}