@model SimplCommerce.Module.Reviews.Areas.Reviews.ViewModels.ReplyForm

<div class="alert alert-success" role="alert">
    <h4>
        @Localizer["Thank you {0} for your reply", Model.ReplierName]
    </h4>

    <p>@Localizer["Your reply will be shown within the next 24h."]</p>
</div>