@model HvCommerce.Web.Areas.Admin.ViewModels.CategoryForm

<div class="form-group">
    <label asp-for="Name" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="ParentId" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="ParentId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
</div>

<div class="form-group">
    <label asp-for="IsPublished" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <div class="checkbox">
            <label><input asp-for="IsPublished"/></label>
        </div>
    </div>
</div>