@model HvCommerce.Web.Areas.Admin.ViewModels.CategoryForm

<form asp-controller="Category" asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h1>Cap nhat danh mục</h1>
            </div>
            <div class="col-md-4 text-right">
                <button type="submit" class="btn btn-primary" value="Save" name="mode"><span class="glyphicon glyphicon-ok"></span> Lưu lại</button>
                <a href="../List" class="btn btn-default" role="button">Quay về</a>
            </div>
        </div>
    </div>

    @Html.Partial("_CategoryForm", Model)
</form>