<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h1>Danh muc sản phẩm</h1>
        </div>
        <div class="col-md-4 text-right">
            <a href="/admin/category/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Tạo danh mục</a>
        </div>
    </div>
</div>

@(Html.Kendo().Grid<HvCommerce.Web.Areas.Admin.ViewModels.CategoryListItem>()
        .Name("gridCategory")
        .Columns(columns =>
        {
            columns.Bound(p => p.Name);
            columns.Bound(p => p.IsPublished);
            columns.Bound(p => p.Id)
                .ClientTemplate(@"<a href='Edit/#:Id#' title='Xem chi tiết' class='btn btn-xs btn-info'> <span class='glyphicon glyphicon-pencil'</span></a>
                                  <a href='Delete/#:Id#' title='Xóa' class='btn btn-danger btn-xs delete'> <span class='glyphicon glyphicon-remove'></span></a>")
                .Filterable(false).Sortable(false).Title("Actions").Width(150);
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Url("ListAjax"))
        )
)


@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#gridCategory").on("click", ".delete", function (e) {
                e.preventDefault();
                if (confirm("Bạn muốn xóa mục này?")) {
                    $.post(this.href).success(function () {
                        var grid = $("#gridCategory").data("kendoGrid");
                        grid.dataSource.read();
                    });
                }
            });
        });
    </script>
}