@model SimplCommerce.Module.Comments.Areas.Comments.ViewModels.CommentVm

<link simpl-append-version="true" rel="stylesheet" href="~/modules/comments/comment.css" />
<script simpl-append-version="true" src="~/modules/comments/comment.js"></script>
<script simpl-append-version="true" src="~/modules/comments/comment-service.js"></script>

<div class="comments" ng-app="simpl.comment" ng-controller="CommentCtrl as vm" ng-cloak>
    @if (User.Identity.IsAuthenticated)
    {
        <form>
            <div class="form-group">
                <textarea rows="3" class="form-control" name="content" ng-model="vm.comment.commentText" placeholder="Your comment"></textarea>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p>Your comment should not have personal information. 10 - 300 characters</p>
                </div>
                <div class="form-group col-md-3">
                    <button type="submit" class="btn btn-default pull-right" ng-click="vm.addComment()">Submit</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <p>Please <a href="~/login?ReturnUrl=@Context.Request.Path">login</a> or <a href="~/register?ReturnUrl=@Context.Request.Path">register</a> to submit your questions</p>
    }
    <div class="row">
        <div class="col-md-6">{{vm.commentCount}} Comments</div>
        <div class="col-md-6">
            <input class="form-control pull-right" placeholder="find by commenter" />
        </div>
    </div>
    <hr />
    <div id="comments-list" class="comment-item-list">
        <div ng-repeat="item in vm.comments">
            <div class="">{{item.commentText}}</div>
            <div ng-repeat="item.replies">

            </div>
        </div>
        <pagination ng-model="currentPage"
                    total-items="1000"
                    max-size="5"
                    boundary-links="true">
        </pagination>

        <div data-pagination="" data-num-pages="100"
             data-current-page="vm.currentPage" data-max-size="5"
             data-boundary-links="true"></div>
    </div>
</div>
