<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{::vm.translate.get('Shipping - Table Rate Configuration')}}</h2>
    </div>
    <div class="panel-body">
        <form name="pageForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="vm.product.isOutOfStock">{{::vm.translate.get('Enabled')}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span>{{::vm.translate.get('Save')}}</button>
                    <button ui-sref="shipping-providers" class="btn btn-default">{{::vm.translate.get('Back')}}</button>
                </div>
            </div>
        </form>
        <h4>Price and Destination configuration</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{::vm.translate.get('Country')}}</th>
                    <th>{{::vm.translate.get('State/Province')}}</th>
                    <th class="text-right">{{::vm.translate.get('Minimum Order Amout')}}</th>
                    <th class="text-right">{{::vm.translate.get('Shipping Price')}}</th>
                    <th>{{::vm.translate.get('Note')}}</th>
                    <th>{{::vm.translate.get('Actions')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="priceAndDestination in vm.pricesAndDestinations">
                    <td>{{priceAndDestination.countryName || 'All countries'}}</td>
                    <td>{{priceAndDestination.stateOrProvinceName || 'All states/provinces'}}</td>
                    <td class="text-right">{{priceAndDestination.minOrderSubtotal | number}}</td>
                    <td class="text-right">{{priceAndDestination.shippingPrice | number}}</td>
                    <td>{{priceAndDestination.note}}</td>
                    <td>
                        <button ng-click="vm.startEditingPriceAndDestination(priceAndDestination)" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></button>
                        <button ng-click="vm.deletePriceAndDestination(priceAndDestination)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
                <tr ng-if="priceAndDestination.isEditing" ng-repeat-end>
                    <td>
                        <select class="form-control" ng-change="vm.onCountrySelected(priceAndDestination.countryId)" ng-model="priceAndDestination.countryId"
                                ng-options="country.id as country.name for country in vm.countries">
                            <option value="">All countries</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-init="" ng-model="priceAndDestination.stateOrProvinceId"
                                ng-options="item.id as item.name for item in vm.statesOrProvinces">
                            <option value="">All States/Provinces</option>
                        </select>
                    </td>
                    <td>
                        <div class="input-number">
                            <input id="orderAmount_{{priceAndDestination.id}}" type="text" decimal maxlength="10" ng-model="priceAndDestination.minOrderSubtotal" class="form-control" />
                            <label for="orderAmount_{{priceAndDestination.id}}" class="form-control">{{priceAndDestination.minOrderSubtotal | number}}</label>
                         </div>
                    </td>
                    <td>
                        <div class="input-number">
                            <input id="price_{{priceAndDestination.id}}" type="text" decimal maxlength="10" ng-model="priceAndDestination.shippingPrice" class="form-control" />
                            <label for="price_{{priceAndDestination.id}}" class="form-control">{{priceAndDestination.shippingPrice | number}}</label>
                        </div>
                    </td>
                    <td>
                        <input ng-model="priceAndDestination.note" class="form-control" />
                    </td>
                    <td>
                        <button type="button" ng-click="vm.updatePriceAndDestination(priceAndDestination)" class="btn btn-default">Save</button>
                        <button type="button" class="btn btn-default" ng-click="priceAndDestination.isEditing = false">Cancel</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control" ng-change="vm.onCountrySelected(vm.addingPriceAndDestination.countryId)" ng-model="vm.addingPriceAndDestination.countryId"
                                ng-options="country.id as country.name for country in vm.countries">
                            <option value="">All countries</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-init="" ng-model="vm.addingPriceAndDestination.stateOrProvinceId"
                                ng-options="item.id as item.name for item in vm.statesOrProvinces">
                            <option value="">All States/Provinces</option>
                        </select>
                    </td>
                    <td>
                        <div class="input-number">
                            <input id="orderAmount_0" type="text" decimal maxlength="10" ng-model="vm.addingPriceAndDestination.minOrderSubtotal" class="form-control" />
                            <label for="orderAmount_0" class="form-control">{{vm.addingPriceAndDestination.minOrderSubtotal | number}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-number">
                            <input id="price_0" type="text" decimal maxlength="10" ng-model="vm.addingPriceAndDestination.shippingPrice" class="form-control" />
                            <label for="price_0" class="form-control">{{vm.addingPriceAndDestination.shippingPrice | number}}</label>
                        </div>
                    </td>
                    <td>
                        <input ng-model="vm.addingPriceAndDestination.note" class="form-control" />
                    </td>
                    <td>
                        <button ng-click="vm.addPriceAndDestination()"title="Add" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>