@{
    Layout = "_Layout";
}

<h1 class="text-danger">@Localizer["We are sorry!"]</h1>
<h2 class="text-danger">@Localizer["The page you have requested cannot be found"]</h2>
<p>@Localizer["Maybe the page was moved or deleted, or perhaps you just mistyped the address."]</p>
<p>@Localizer["Why not try and find your way using the navigation bar above or click on the logo to return our home page."]</p>