@using SimplCommerce.Module.Search.ViewModels

@model SearchResult

<ul class="list-unstyled checkbox-list">

    @foreach (var category in Model.FilterOption.CategoriesTree)
    {
        <li>
            <label class="checkbox">
                <input type="checkbox" value="@category.Slug" name="category" checked="@Model.CurrentSearchOption.GetCategories().Contains(category.Slug)">
                @category.Name
                <small>(@category.Count)</small>
            </label>
            @if (category.ChildCategories.Count > 0)
            {
                <vc:categories-tree-item categories="category.ChildCategories" current-search-option="Model.CurrentSearchOption">
                </vc:categories-tree-item>
            }
        </li>
    }

</ul>
