language: csharp
solution: SimplCommerce.sln
sudo: required
dist: trusty
dotnet: 2.0.0-preview2-006497
mono: none
os:
  - linux

branches:  
  only:
    - master

notifications:
  email:
    on_success: change
    on_failure: always

before_script:
  - dotnet restore

script:
  - dotnet build ./SimplCommerce.sln
  - ./run-tests.sh
