@model Shopcuatoi.Web.ViewModels.Catalog.ProductsByCategory

<h2 class="page-header">@Model.CategoryName</h2>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="~/@product.SeoTitle">
                    <img alt="@product.Name" src="@product.ThumbnailUrl">
                    <div class="caption">
                        <h3>@product.Name</h3>
                        <p>$@product.Price</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Add to cart</a>
                            <a href="#" class="btn btn-default" role="button">Button</a>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>