@using System.Threading.Tasks
@using Shopcuatoi.Web.ViewModels.Catalog

@model ProductsByCategory
@{
    ViewBag.Title = Model.CategoryName;
}

<h2 class="page-header">@Model.CategoryName</h2>
<div class="row">
    <div class="col-md-3">
        <h3>Filter by</h3>
        <div class="panel-group" id="accordion-brand">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-brand" href="#collapse-brand">
                            Brands
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </h2>
                </div>
                <div id="collapse-brand" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="list-unstyled checkbox-list">
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox" name="checkbox" checked="">
                                    <i></i>
                                    Samsung
                                    <small><a href="#">(23)</a></small>
                                </label>
                            </li>
                            <li>
                                <label class="checkbox">
                                    <input type="checkbox" name="checkbox" checked="">
                                    <i></i>
                                    Apple
                                    <small><a href="#">(4)</a></small>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion-price">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-price" href="#collapse-price">
                            Price
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </h2>
                </div>
                <div id="collapse-price" class="panel-collapse collapse in">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @await Html.PartialAsync("ProductList", new ProductList(Model.Products))
    </div>
</div>