@model HvCommerce.Web.Areas.Admin.ViewModels.ProductForm

<form asp-controller="Product" asp-action="Create" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h1>Tạo san pham</h1>
            </div>
            <div class="col-md-4 text-right">
                <button type="submit" class="btn btn-primary" value="Save" name="mode"><span class="glyphicon glyphicon-ok"></span> Lưu lại</button>
                <a href="List" class="btn btn-default" role="button">Quay về</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Thumbnail Image</label>
        <div class="col-md-10">
            <input type="file" name="thumbnailImage" multiple />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Images</label>
        <div class="col-md-10">
            <input type="file" name="images" multiple />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="IsPublished" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <div class="checkbox">
                <label><input asp-for="IsPublished" /></label>
            </div>
        </div>
    </div>
</form>