<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="urn:newrelic-config">

    <!-- Browser (RUM) auto-instrumentation -->
    <browserMonitoring autoInstrument="true" />

    <!-- enable .NET Core 6+ instrumentation -->
    
    <appSettings>
        <add key="EnableAspNetCore6PlusBrowserInjection" value="true" />
    </appSettings>
</configuration>