/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.input-validation-error {
    border-color: red;
}

.inline {
    display: inline;
}

.top-bar {
    background-color:#212121;
    color: #e7e7e7;
}

.top-bar a, .top-bar a:visited {
    color: #e7e7e7;
}

.top-bar .btn-link {
    padding: 0;
    color: #e7e7e7;
}

.main-header {
    padding: 15px 0;
    background-color: #f9f9f9;
}

@media (max-width : 992px) {
    .logo { text-align: center }
}

.main-header .form-inline .form-group {
     margin: 0px -3px;
}

.main-header .search-box {
    margin-top: 7px;
}

.main-header .search-input {
    width: calc(100% - 215px);
}

.main-header .search-input input {
    height: 35px;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
}

.main-header .search-category select {
    height: 35px;
    border-radius: 0;
    width: 180px;
}

.main-header .search-btn {
    background-color: #2196f3;
    border: 0;
    border-radius: 0;
    color: #fff;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
}

@media (max-width : 768px) {
    .main-header .search-input { width: calc(100% - 35px) }
    .main-header .search-btn { right: 15px }
    .main-nav {
        min-height: 40px;
    }
}

.main-nav {
    background-color: #f3f3f3;
}

@media (min-width : 768px) {
    .main-menu {
        display: table;
        float: none;
        margin: 0 auto;
    }
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    text-transform: uppercase;
}

li.nav-item-group, li.nav-item-group a {
    font-weight: bold;
}

.cart-badge {
    position: relative;
    top: 2px;
    right: 0px;
    margin-left: 20px;
    padding-top: 8px;
    padding-right: 18px;
}

.cart-badge i {
    font-size: 34px;
}

.cart-badge span.badge {
    top: 0;
    right: 5px;
    position: absolute;
    background: red;
}

.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
    padding: 5px 7px
}

.breadcrumb {
    background-color: #FFFFFF;
    padding: 0;
}

.footer-content {
    margin-top: 30px;
    background-color: #eee;
}

.footer-content hr {
    border-color: #ddd;
}


/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* product list*/
.product-list a:hover {
    text-decoration: none;
}

.product-list .product-price {
    color: red;
}

.product-list .product-price-saving {
    background-color: #ff9601;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: -2px;
    padding: 4px;
    vertical-align: middle;
}

.product-list .product-price-regular {
    text-decoration: line-through;
    font-weight: 100;
    color: #4c4849;
    font-size: 11px;
}

.product-list .thumbnail:hover {
    border-color: #337ab7;
}

.product-list .buttons {
    padding: 9px;
}

.product-list-filters h3 {
    margin-top: 27px;
}

.product-list .btn {
    background: #ddd;
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    color: #18ba9b;
    border-radius: 0;
    margin: -1px;
}

.product-list .btn:hover{
    background: #eee;
}

.product-list .btn-add-cart-style {
    background: #18ba9b;
    padding: 8px 0px;
    font-size: 14px;
    color:#fff;
    text-align: center;
    width: calc(100% - 78px);
}

.product-list .btn-add-cart-style:hover{
    background: #2cd5b6;
}

#accordion-brand ul, #accordion-category ul{
    padding-left: 30px;
}

#priceSlider {
    margin: 17px
}

#minPrice {
    width: 110px;
    float: left;
}

#maxPrice {
    width: 110px;
    float: right;
    text-align: right;
}

.price-actions {
    float: right;
    margin-top: 15px;
}

.category-result h2 {
    float: left;
    font-size: 30px;
    margin-right: 20px;
}
    .category-result .badge-results {
        top: 26px;
        color: #fff;
        font-size: 12px;
        padding: 3px 8px;
        position: relative;
        background: #c9253c;
    }
.product-list-display-options {
    margin-top: 14px;
}

.product-list-display-options label {
    font-weight: normal;
}

.product-list-display-options .show-option {
    float: right;
    padding-right: 0;
}
.product-list-display-options .show-option i {
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 6px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    background: #18ba9b;
    display: inline-block;
}

.product-list-display-options .sort-by {
    float: right;
}

.product-list-display-options .pagination-option {
    float: right;
}

/* car list*/
.cart-list .product-image {
    width: 120px;
}

.cart-list .product-image img {
    width: 120px;
}

.cart-list .quantity-button {
    color: #555;
    width: 35px;
    height: 30px;
    padding: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background: #eee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

.cart-list .quantity-field {
    width: 35px;
    height: 30px;
    outline: none;
    margin: 0 -4px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #eee;
}

.cart-list .table > thead > tr > th {
    border-bottom: none;
    text-transform: uppercase;
    color:#687074;
}

.cart-list .table > tbody > tr > td {
    border-top: none;
}

.cart-list .order-summary h4 {
    text-transform: uppercase;
    color:#687074;
    padding-bottom: 20px;
}

.cart-list .order-summary dt {
    text-align: left;
    width: 100px;
}

.cart-list .order-summary dd {
    text-align: right;
    margin-left: 100px;
}

.cart-list .order-summary .btn {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
}

/* Checkout*/
.btn-order {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    width: 200px;
}

.btn-order:hover {
    color: #fff;
    background: #2cd5b6;
}

.order-history img {
    width: 60px;
}
