<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br> <h2 style="color:red">Your Process is not done successfully</h2>
            <img src="http://osmhotels.com//assets/check-true.jpg">
            <h3>Dear, Customer</h3>
            <p style="font-size:20px;color:#5C5C5C;">
                please contect with us to get more information.
            </p>
            <a href="" class="btn btn-success">     Log in      </a>
            <br><br>
        </div>

    </div>
</div>
