<h2>{{::vm.translate.get('Order Detail')}}: #{{vm.order.id}}</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{::vm.translate.get('Order & Customer Information')}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Order #{{vm.order.id}}</h5>
                <table class="table table-striped">
                    <tr>
                        <td>Order Date</td>
                        <td>{{vm.order.createdOn | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <td>Order Status</td>
                        <td>{{vm.order.orderStatusString}}</td>
                    </tr>
                    <tr>
                        <td>Order Total</td>
                        <td>{{vm.order.orderTotalString}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h5>Customer Information</h5>
                <table class="table table-striped">
                    <tr>
                        <td>Customer Name</td>
                        <td>{{vm.order.customerName}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Customer Group</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{::vm.translate.get('Address Information')}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Billing Address</h5>
            </div>
            <div class="col-md-6">
                <h5>Shipping Address</h5>
                <p>
                    <strong>{{vm.order.shippingAddress.contactName}} </strong><br />
                    {{vm.order.shippingAddress.addressLine1}} <br />
                    {{vm.order.shippingAddress.districtName}}, {{vm.order.shippingAddress.stateOrProvinceName}} <br />
                    Phone: {{vm.order.shippingAddress.phone}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{::vm.translate.get('Product Information')}}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped order-item-list">
            <thead>
                <tr>
                    <th colspan="2">{{::vm.translate.get('Product')}}</th>
                    <th>{{::vm.translate.get('Price')}}</th>
                    <th>{{::vm.translate.get('Quantity')}}</th>
                    <th>{{::vm.translate.get('Total')}}</th>
                    <th>{{::vm.translate.get('Tax Amount')}}</th>
                    <th>{{::vm.translate.get('Tax Percent')}}</th>
                    <th>{{::vm.translate.get('Discount Amount')}}</th>
                    <th>{{::vm.translate.get('Row Total')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.order.orderItems">
                    <td class="product-image"><img ng-src="{{item.productImage}}" /></td>
                    <td>
                        <h4>{{item.productName}}</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="opt in item.variationOptions">
                                <span>{{opt.optionName}}:</span> {{opt.value}}
                            </li>
                        </ul>
                    </td>
                    <td>{{item.productPriceString}}</td>
                    <td>
                        <span>{{item.quantity}}</span>
                    </td>
                    <td>{{item.totalString}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{::vm.translate.get('Payment & Shipping Method')}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Payment</h5>
                <p>{{vm.order.paymentMethod}}</p>
            </div>
            <div class="col-md-6">
                <h5>Shipping</h5>
                <p>{{vm.order.shippingMethod}}</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{::vm.translate.get('Order Total & Action')}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Action & History</h5>
                <form name="orderStatusForm" class="form-horizontal">
                    <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                        <ul>
                            <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{::vm.translate.get('Order Status')}}</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.order.orderStatus" ng-options="s.id as s.name for s in vm.orderStatus"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{::vm.translate.get('Note')}}</label>
                        <div class="col-sm-10">
                            <textarea name="description" ng-model="vm.category.description" rows="3" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> {{::vm.translate.get('Save')}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h5>Order Total {{vm.order.orderTotalString}}</h5>
                <table class="table table-striped">
                    <tr>
                        <td>Subtotal</td>
                        <td>{{vm.order.subtotalString}}</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>{{vm.order.shippingAmountString}}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>{{vm.order.taxAmountString}}</td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>{{vm.order.discountString}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <button ui-sref="order" class="btn btn-default">{{::vm.translate.get('Back')}}</button>
</div>
