@model SimplCommerce.Web.ViewModels.ProductDisplayWidgetViewComponentVm

<h2 class="page-header">@Model.WidgetName</h2>
<div class="row product-list">
    @foreach (var product in Model.Products)
    {
        <div class="col-xs-6 col-md-3">
            @await Html.PartialAsync("_ProductThumbnail", product)
        </div>
    }
</div>