@model SimplCommerce.Module.Core.ViewModels.UserAddressFormViewModel
@{
    ViewData["Title"] = "Create address";
}

<div class="row">
    <div class="col-md-3">
	   <partial name="~/Views/Shared/_AccountMenu.cshtml" />
    </div>
    <div class="col-md-9">
        <h2>@Localizer["Create Address"]</h2>
        <hr />
        <form asp-controller="UserAddress" asp-action="Create" method="POST">
		  <partial name="_AddressForm.cshtml" model="Model"  />
        </form>
    </div>
</div>

@section scripts {
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
<script src="~/modules/core/user-address.js"></script>
}