@model SimplCommerce.Module.Core.ViewModels.UserAddressFormViewModel
@{
    ViewData["Title"] = "Create address";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_AccountMenu")
    </div>
    <div class="col-md-9">
        <h2>@Localizer["Edit Address"]</h2>
        <hr />
        <form asp-controller="UserAddress" asp-action="Edit" method="POST" class="form-horizontal">
            @Html.Partial("_AddressForm", Model)
        </form>
    </div>
</div>

@section scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="~/modules/core/user-address.js"></script>
}