@model IEnumerable<SimplCommerce.Module.Core.ViewModels.BreadcrumbViewModel>

@foreach (var item in Model)
{
<a href="~/@item.Url" class="stext-109 cl8 hov-cl1 trans-04">
    @item.Text
    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
</a>
}