@model SimplCommerce.Module.PaymentBtcPayServer.Areas.PaymentBtcPayServer.ViewModels.BTCPayCheckoutForm

<label>BtcPay</label>

<div class="form-group">
    <div class="col-md-12">
        <button type="button" class="btn btn-order" id="btcpay-submit-button">@Model.PaymentButtonLabel</button>
    </div>
</div>
@if (Model.UseModal)
{   
    <script src="@(new Uri(Model.Server, "modal/btcpay.js"))"></script>  
}
<script>
    
    debugger;
    document.querySelector('#btcpay-submit-button').addEventListener('click',
        function() {
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Charge", "BtcPayServer", new {Area = "PaymentBtcPayServer"})',
                    data: {}
                })
                .done(function(data) {
                    @if (Model.UseModal)
                    {
                        <text>
                            window.btcpay.showInvoice(data.invoiceId);
                            window.btcpay.onModalWillLeaveMethod = function() {

                                window.location = "/checkout/success?orderId=" + data.orderId;
                            }
                        </text>
                    }
                    else
                    {
                        
                        <text>
                            window.location = data.invoiceUrl
                        </text>
                    }
                  

                })
                .fail(function(errors) {
                    alert(errors.responseText);
                    console.log(errors.responseText);
                })
                .always(function() {});
        });

</script>
