@model SimplCommerce.Module.Payments.ViewModels.CheckoutPaymentForm

@{
    ViewBag.Title = "Payment Information";
}

<div class="row">
    <div class="col-md-8">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">@TempData["Error"]</div>
        }
        <div id="paymentError" class="alert alert-danger d-none" role="alert"></div>
        <h3>@Localizer["Choose a payment methods"]</h3>
        <div class="row">
        @foreach (var paymentProvider in Model.PaymentProviders)
        {
            <div class="col-sm-12 col-md-6">
                <div class="payment-method paymentProvider-@paymentProvider.Id">
                    @if(!string.IsNullOrWhiteSpace(paymentProvider.LandingViewComponentName))
                    {
                        @await Component.InvokeAsync(paymentProvider.LandingViewComponentName)
                    }
                </div>
            </div>
        }
        </div>
    </div>
    <div class="col-md-4">
        @await Component.InvokeAsync("OrderSummary")
    </div>
</div>
