@using Microsoft.Extensions.Configuration
@inject IConfiguration Config

<form asp-controller="Stripe" asp-action="Charge" method="POST">
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Config["Stripe:PublishableKey"]"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>