@model SimplCommerce.Module.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />

<div>
    <h2 class="page-header">Sample Theme</h2>
    <p>It's very easy to find and install new themes or create your own theme. </p>
    <p>Check out <a href="http://docs.simplcommerce.com/en/latest/theme-development/" target="_blank"> the doc here</a> for more details</p>
</div>

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent)" />
