.page-header {
    color: coral;
}

.main-nav .dropdown-menu {
    border-top: solid 2px coral;
}

.main-nav .dropdown-menu .active > a, .main-nav .dropdown-menu li > a:hover, .main-nav .dropdown-menu li.dropdown-submenu:hover > a {
    background-color:coral;
}
