@model int

<div class="cart-badge badge-icons pull-right">
    <a href="~/cart"><i class="fa fa-shopping-cart"></i></a>
    <span class="badge badge-sea rounded-x">@Model</span>
    <div class="badge-open">
    </div>
</div>