@model RegisterViewModel

@{
    Layout = null;
}

<table border="0" cellpadding="0" cellspacing="0" style="background: #ffffff; width: 100%">
    <tbody>
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" style="border-top: 1px #cccccc; width: 800px;">
                <tbody>
                <tr>
                    <td align="left" style="background: #fff; color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" valign="top">
                    <h2>@Localizer["Thank you for registering at simplcommerce.com."]</h2>
                </tr>

                <tr>
                    <td>
                        <p>@Localizer["Please confirm your account by clicking this"] <a href="@Model.CallbackUrl">@Localizer["link"]</a>.</p><br/>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
