@model long

@{
    ViewBag.Title = "Result";
    var localizedTextParts = Localizer["We received <a>your order</a>. Thank you!"].GetTextPartsFunction("<a>", "</a>");
}

<h2>@Localizer["Congratulation!"]</h2>
<p>@localizedTextParts(0)<a href="~/user/orders/@Model">@localizedTextParts(1)</a>@localizedTextParts(2)</p>
