@model SimplCommerce.Module.Cms.ViewModels.HomeProductWidegtViewModel

<h2>@Model.WidgetName</h2>
<div class="row product-list">
    @foreach (var product in Model.Products)
    {
        <div class="col-xs-6 col-md-3">
            @await Html.PartialAsync("/Modules/SimplCommerce.Module.Catalog/Views/Shared/_ProductThumbnail.cshtml", product)
        </div>
    }
</div>
