@model SimplCommerce.Module.Comments.ViewModels.CommentForm

<div class="alert alert-success" role="alert">
    <h4>
        @Localizer["Thank you {0} for your comment.", Model.CommenterName]
    </h4>

    <p>@Localizer["Your comment will be showed within the next 24 hours."]</p>
</div>