<!DOCTYPE html>
<html ng-app="hvAdmin">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HvCommerce.Web</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link href="~/admin/css/admin-core.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/admin/css/admin-core.min.css" asp-append-version="true"/>
    </environment>
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/admin/css/admin-core.css" rel="stylesheet"/>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-smart-table/smart-table.js"></script>
    <script src="~/lib/ng-file-upload/ng-file-upload.js"></script>

    <script src="~/admin/app/admin-app.js"></script>
    <script src="~/admin/app/dashboard/dashboard.module.js"></script>

    <script src="~/admin/app/user/user.module.js"></script>
    <script src="~/admin/app/user/user-service.js"></script>
    <script src="~/admin/app/user/user-list.js"></script>

    <script src="~/admin/app/category/category.module.js"></script>
    <script src="~/admin/app/category/category-service.js"></script>
    <script src="~/admin/app/category/category-list.js"></script>
    <script src="~/admin/app/category/category-create.js"></script>
    <script src="~/admin/app/category/category-edit.js"></script>

    <script src="~/admin/app/product/product.module.js"></script>
    <script src="~/admin/app/product/product-service.js"></script>
    <script src="~/admin/app/product/product-list.js"></script>
    <script src="~/admin/app/product/product-create.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Admin" class="navbar-brand">HvCommerce Admin</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="user">Users</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="category">Categories</a></li>
                            <li><a ui-sref="product">Products</a></li>
                        </ul>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - HvCommerce</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
