<div class="panel panel-default">
    <div class="panel-heading">Your account</div>
    <div class="panel-body">
        <ul class="list-unstyled">
            <li><a href="~/user">Manage your account</a></li>
            <li><a href="~/user/info">Account Information</a></li>
            <li><a href="~/user/address">Address book</a></li>
            <li><a href="~/user/order-history">Order history</a></li>
        </ul>
    </div>
</div>