@model SimplCommerce.Module.Reviews.ViewModels.ReviewForm

<div class="alert alert-success" role="alert">
    <h4>
        @Localizer["Thank you {0} for your review", Model.ReviewerName]
    </h4>

    <p>@Localizer["Your review will be showed within the next 24h."]</p>
</div>