@model SimplCommerce.Module.Reviews.ViewModels.ReviewForm

<div class="alert alert-success" role="alert">
    <h4>
        Thank you @Model.ReviewerName for your review
    </h4>

    <p>Your review will be show with the next 24h.</p>
</div>