<label>Momo payment</label>
<form asp-area="PaymentMomo" asp-controller="MomoPayment" asp-action="MomoCheckout" method="POST" id="checkout-payment" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-order">@Localizer["Momo payment"]</button>
        </div>
    </div>
</form>
