@model SimplCommerce.Module.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured))

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent))

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent))

<div>
    <h2 class="page-header">Sample data</h2>
    <h1>Delete all current catalog data and create sample catalog</h1>
    <form asp-controller="SampleData" asp-action="ResetToSample" method="post">
        <button type="submit" class="btn btn-danger">Do it!</button>
    </form>
</div>