@model SimplCommerce.Module.Catalog.ViewModels.CategoryWidgetComponentVm

<h2 class="page-header">@Model.WidgetName</h2>
<div class="row">
    <div class="thumbnail">
        <a href="~/@Model.Category.SeoTitle">
            <img alt="@Model.Category.Name" src="@Model.Category.ThumbnailUrl">
            <div class="caption">
                <h4 class="product-name">@Model.Category.Name</h4>
            </div>
        </a>
    </div>
</div>