body { height: auto; }

.inline { display: inline; }

.page-header { margin-top: 10px; }

.page-header .text-right { margin-top: 22px; }

.panel-default > .panel-heading {
    background: none;
    border: none;
}

.nav-tabs { margin-bottom: 15px; }

th.sortable { cursor: pointer; }

.st-sort-ascent:before { content: '\25B2'; }

.st-sort-descent:before { content: '\25BC'; }

.st-selected {
    background: #216eff !important;
    color: white !important;
}

.date-filter { width: 170px; }

.product-image-edit {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 1px;
    position: relative;
}

.product-image-edit button {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.product-file-edit {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 1px;
    padding: 10px;
    position: relative;
}

.product-file-edit button {
    font-size: 12px;
    padding: 0 2px 0 10px;
}

table > tbody > tr > td.variation-form {
    margin: 0;
    padding: 0;
}

.order-item-list .product-image img { width: 120px; }

#toast-container > div { opacity: 1; }

.input-number { position: relative; }

.input-number label {
    cursor: pointer;
    font-weight: normal;
    left: 0px;
    position: absolute;
    top: 0px;
}

.input-number input:focus + label { display: none; }

.simpl-datetime-picker { width: 300px; }

td > span.glyphicon-ok { color: #5cb85c; }

td > span.glyphicon-remove { color: #d9534f; }

/* --- Tree --- */

.tree-node {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
}

.nodrop { background-color: #f2dede; }

.tree-node-content { margin: 10px; }

.tree-handle {
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
    padding: 10px;
}

.angular-ui-tree-handle:hover { }

.angular-ui-tree-placeholder {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    box-sizing: border-box;
}

.entity-selector thead, .entity-selector tbody { display: block; }

.entity-selector tbody {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.entity-selector .entity-name { width: 200px; }

.mt-3 { margin-top: 40px !important; }

.search-user { position: relative; }

#search-users-results {
    border: 1px solid #dedede;
    border-radius: 3px;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 700px;
    z-index: 10000;
}

#search-users-results .users {
    background: white;
    padding: 10px;
}

#search-users-results .users:nth-child(even) { background: #fafafa; }

#search-products-results {
    border: 1px solid #dedede;
    border-radius: 3px;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 700px;
    z-index: 10000;
}

#search-products-results .products {
    background: white;
    padding: 10px;
}

#search-products-results .products:nth-child(even) { background: #fafafa; }

.btn-translate { margin-right: 3px; }