@model SimplCommerce.Module.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<section id="form-coming">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Cheapest Tickets</h2>
                <h4>Find cheapest tickets like million people</h4>
            </div>
        </div>
        <div class="row form-container">
            <form action="search" method="get" class="form-inline" accept-charset="utf-8">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12 btn-group" data-toggle="buttons">
                            <label class="btn btn-radio btn-cift active">
                                <input class="this-is-checked" name="yonunu_sec" id="gidis-donus" value="gidis-donus" type="radio" checked> Round-Trip
                            </label>
                            <label class="btn btn-radio btn-tek-yon">
                                <input class="this-is-checked" name="yonunu_sec" id="tek-yon" value="tek-yon" type="radio"> One Way
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="col-lg-2 col-md-6 col-xs-12" style="padding: 0;">
                                <label class="sr-only" for="kalkis-yeri">Departure Place</label>
                                <input type="text" class="form-control" style="width: 100%;" id="kalkis-yeri" name="Departure" placeholder="Departure">
                            </div>
                            <div class="col-lg-2 col-md-6 col-xs-12" style="padding: 0">
                                <label class="sr-only" for="inis-yeri">Landing Place</label>
                                <input type="text" class="form-control date" style="width: 100%" id="inis-yeri" name="Landing" placeholder="Landing">
                            </div>
                            <div class="col-lg-2 col-md-6 col-xs-12 date" style="padding: 0">
                                <label class="sr-only" for="gidis-tarihi">Date of Departure</label>
                                <input type="text" class="form-control" style="width: 100%" id="gidis-tarihi" name="DepartureDate" placeholder="Date of Departure">
                            </div>
                            <div class="col-lg-2 col-md-6 col-xs-12 date" style="padding: 0">
                                <label class="sr-only" for="gidis-tarihi">Date of Return</label>
                                <input type="text" class="form-control" style="width: 100%" id="donus-tarihi" name="ReturnDate" placeholder="Date of Return">
                            </div>
                            <div id="popup-opener" class="col-lg-2 col-md-6 col-xs-12" style="padding: 0">
                                <label class="sr-only" for="gidis-tarihi">Number of People</label>
                                <input type="text" class="form-control" style="width: 100%" id="kisi-sayisi" name="NumberOfPeople" placeholder="Number of People" readonly="readonly">
                            </div>
                            <div class="col-lg-2 col-md-6 col-xs-12" style="padding: 0">
                                <button type="submit" class="btn btn-submit" style="width: 100%"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label class="check-label">
                                    <input type="checkbox" id="aktarmasiz"> Nonstop
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="check-label">
                                    <input type="checkbox" id="iptal-edilebilir"> Cancelable
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="row-passengers" style="display: none;">
                <div class="box-with-arrow">
                    <div class="row selectors">
                        <div class="select-list">
                            <select id="flight-class" name="flight-class">
                                <option value="0">Economic</option>
                                <option value="1">Business</option>
                                <option value="2">Comfort</option>
                                <option value="3">First Class</option>
                            </select>
                        </div>
                        <div class="passengers">
                            <div class="row passenger-list valign-wrapper">
                                <div class="col-lg-6 col-xs-12">
                                    <p class="first-line">Adult</p>
                                    <p class="second-line">(18+)</p>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="decrease" data-target="#adult-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" data-ride="spinner" id="adult-passenger" class="spinner-input form-control input-number" value="1" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="increase" data-target="#adult-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row passenger-list valign-wrapper">
                                <div class="col-lg-6 col-xs-12">
                                    <p class="first-line">Student</p>
                                    <p class="second-line">(12-24)</p>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="decrease" data-target="#student-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" data-ride="spinner" id="student-passenger" class="spinner-input form-control input-number" value="0" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="increase" data-target="#student-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row passenger-list valign-wrapper">
                                <div class="col-lg-6 col-xs-12">
                                    <p class="first-line">Child</p>
                                    <p class="second-line">(2-11)</p>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="decrease" data-target="#child-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" data-ride="spinner" id="child-passenger" class="spinner-input form-control input-number" value="0" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="increase" data-target="#child-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row passenger-list valign-wrapper">
                                <div class="col-lg-6 col-xs-12">
                                    <p class="first-line">Baby</p>
                                    <p class="second-line">(0-2)</p>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="decrease" data-target="#baby-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </span>
                                        <input type="text" data-ride="spinner" id="baby-passenger" class="spinner-input form-control input-number" value="0" readonly="readonly">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-passenger" data-value="increase" data-target="#baby-passenger" data-toggle="spinner">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-icon">
                            <a class="btn btn-success" style="width: 100%; border-radius: 0; margin-top: 10px;">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured))

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent))

@await Html.PartialAsync("_WidgetInstances", Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent))

<div>
    <h2 class="page-header">Sample data</h2>
    <h1>Delete all current catalog data and create sample catalog</h1>
    <form asp-controller="SampleData" asp-action="ResetToSample" method="post">
        <button type="submit" class="btn btn-danger">Do it!</button>
    </form>
</div>