@model IList<SimplCommerce.Module.Catalog.ViewModels.ProductThumbnail>

@if (Model.Any())
{
<h2 class="page-header">@Localizer["Recently viewed products"]</h2>
<div class="row product-list">
    @foreach (var product in Model)
    {
        <div class="col-xs-6 col-md-3">
            @await Html.PartialAsync("/Modules/SimplCommerce.Module.Catalog/Views/Shared/_ProductThumbnail.cshtml", product)
        </div>
    }
</div>
}