@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">@Localizer["We are sorry!"]</h1>
    <h2 class="text-danger">@Localizer["Permission is needed to access the page."]</h2>
</header>
