@{
    ViewData["Title"] = Localizer["Forgot Password Confirmation"];
}

<h2>@Localizer["Forgot Password Confirmation"]</h2>
<p>
    @Localizer["Please check your email to reset your password."]
</p>
