@{
    ViewData["Title"] = Localizer["Locked out"];
}

<header>
    <h1 class="text-danger">@Localizer["Locked out."]</h1>
    <p class="text-danger">@Localizer["This account has been locked out, please try again later."]</p>
</header>
