@model SimplCommerce.Module.PaymentStripe.Areas.PaymentStripe.ViewModels.StripeCheckoutForm

<label>Stripe</label>
<form asp-area="PaymentStripe" asp-controller="Stripe" asp-action="Charge" method="POST">
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Model.PublicKey"
            data-locale="auto"
            data-currency="@Model.ISOCurrencyCode"
            data-description="Payment with Stripe"
            data-amount="@Model.Amount">
    </script>
</form>
