@using System.Threading.Tasks
@using Microsoft.AspNet.Http.Features
@using Microsoft.AspNet.Localization
@using Microsoft.AspNet.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = new List<SelectListItem>
    {
        new SelectListItem
        {
            Value = "en-US",
            Text = "English"
        },
        new SelectListItem
        {
            Value = "vi-VN",
            Text = "Vietnamese"
        }
    };
}

<div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
          method="post" class="form-horizontal" role="form">&nbsp;
        |&nbsp;@Localizer["Language:"] <select name="culture"
                                               asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
        <input type="submit" class="btn btn-default" value="Set Language"/>
    </form>
</div>