@using System.Globalization

@model Shopcuatoi.Web.ViewModels.Catalog.ProductList
@{
    var col = 12/Model.ItemsPerRow;
}

<div class="row product-list">
    @foreach (var product in Model.Items)
    {
        <div class="col-sm-6 col-md-@col">
            <div class="thumbnail">
                <a href="~/@product.SeoTitle">
                    <img alt="@product.Name" src="@product.ThumbnailUrl">
                    <div class="caption">
                        <h4 class="product-name">@product.Name</h4>
                        <p class="product-price">@product.Price.ToString("N0", new CultureInfo("VN-vn")) VND</p>
                    </div>
                </a>
                <div class="buttons">
                    <button class="btn btn-primary" role="button">Add to cart</button>
                    <button class="btn btn-default" role="button">Button</button>
                </div>
            </div>
        </div>
    }
</div>