<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>Product List</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="product-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Product</a>
        </div>
    </div>
</div>

<table class="table" st-pipe="vm.getProducts" st-table="vm.products">
    <thead>
        <tr>
            <th st-sort="Name" class="sortable">Email</th>
            <th>Has Options</th>
            <th>Is Visible Individually</th>
            <th st-sort="IsPublished" class="sortable">IsPublished</th>
            <th st-sort="CreatedOn" class="sortable">CreatedOn</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th><input st-search="Name" /></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="product in vm.products">
            <td>{{product.name}}</td>
            <td><span ng-if="product.hasOptions" class="glyphicon glyphicon-ok"></span></td>
            <td><span ng-if="product.isVisibleIndividually" class="glyphicon glyphicon-ok"></span></td>
            <td><span ng-if="product.isPublished" class="glyphicon glyphicon-ok"></span></td>
            <td>{{product.createdOn | date:'medium' }}</td>
            <td>
                <button ng-if="product.isPublished" title="Un Publish" ng-click="vm.changeStatus(product)" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pause"></span></button>
                <button ng-if="!product.isPublished" title="Publish" ng-click="vm.changeStatus(product)" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-play"></span></button>
                <a ui-sref="product-edit({id: product.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
                <button ng-click="vm.deleteProduct(product)" title="Delete" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="6" class="text-center">Loading ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="6"></td>
        </tr>
    </tfoot>
</table>