<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>Product List</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="product-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Product</a>
        </div>
    </div>
</div>

<table class="table" st-pipe="vm.getProducts" st-table="vm.products">
    <thead>
        <tr>
            <th st-sort="Name" class="sortable">Name</th>
            <th>Has Options</th>
            <th>Is Visible Individually</th>
            <th>Is Featured</th>
            <th>Is Allow to Order</th>
            <th>Is Call for pricing</th>
            <th>Stock Quanity</th>
            <th st-sort="IsPublished" class="sortable">IsPublished</th>
            <th st-sort="CreatedOn" class="sortable">CreatedOn</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th>
                <div class="form-group">
                    <input class="form-control" st-search="Name"/>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <select class="form-control" st-search="HasOptions">
                        <option value="">All</option>
                        <option value="false">Don't have options</option>
                        <option value="true">Has options</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <select class="form-control" st-search="IsVisibleIndividually">
                        <option value="">All</option>
                        <option value="true">Visible Individually</option>
                        <option value="false">Not visible Individually</option>
                    </select>
                </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <div class="form-group">
                    <select class="form-control" st-search="IsPublished">
                        <option value="">All</option>
                        <option value="false">Not Published</option>
                        <option value="true">Published</option>
                    </select>
                </div>
            </th>
            <th><st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range></th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="product in vm.products">
            <td>{{product.name}}</td>
            <td><span ng-attr-class="{{product.hasOptions && 'glyphicon glyphicon-ok' || 'glyphicon glyphicon-remove'}}"></span></td>
            <td><span ng-attr-class="{{product.isVisibleIndividually && 'glyphicon glyphicon-ok' || 'glyphicon glyphicon-remove'}}"></span></td>
            <td><span ng-attr-class="{{product.isFeatured && 'glyphicon glyphicon-ok' || 'glyphicon glyphicon-remove'}}"></span></td>
            <td><span ng-attr-class="{{product.isAllowToOrder && 'glyphicon glyphicon-ok' || 'glyphicon glyphicon-remove'}}"></span></td>
            <td><span ng-attr-class="{{product.isCallForPricing && 'glyphicon glyphicon-ok' || 'glyphicon glyphicon-remove'}}"></span></td>
            <td>{{product.stockQuantity}}</td>
            <td><span ng-attr-class="{{product.isPublished && 'glyphicon glyphicon-ok' || 'glyphicon glyphicon-remove'}}"></span></td>
            <td>{{product.createdOn | date:'medium'}}</td>
            <td>
                <button ng-if="product.isPublished" title="Un Publish" ng-click="vm.changeStatus(product)" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pause"></span></button>
                <button ng-if="!product.isPublished" title="Publish" ng-click="vm.changeStatus(product)" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-play"></span></button>
                <a ui-sref="product-edit({id: product.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
                <button ng-click="vm.deleteProduct(product)" title="Delete" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="10" class="text-center">Loading ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="10"></td>
        </tr>
    </tfoot>
</table>