<style>
    ul.bankList {
        clear: both;
        height: 202px;
        width: 636px;
    }

        ul.bankList li {
            list-style-position: outside;
            list-style-type: none;
            cursor: pointer;
            float: left;
            margin-right: 0;
            padding: 5px 2px;
            text-align: center;
            width: 90px;
        }

    .list-content li {
        list-style: none outside none;
        margin: 0 0 10px;
    }

        .list-content li .boxContent {
            display: none;
            width: 636px;
            border: 1px solid #cccccc;
            padding: 10px;
        }

        .list-content li.active .boxContent {
            display: block;
        }

        .list-content li .boxContent ul {
            height: 280px;
        }

    i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB, i.NAB, i.BAB {
        width: 80px;
        height: 30px;
        display: block;
        background: url(https://www.nganluong.vn/webskins/skins/nganluong/checkout/version3/images/bank_logo.png) no-repeat;
    }

    i.MASTE {
        background-position: 0px -31px
    }

    i.AMREX {
        background-position: 0px -62px
    }

    i.JCB {
        background-position: 0px -93px;
    }

    i.VCB {
        background-position: 0px -124px;
    }

    i.TCB {
        background-position: 0px -155px;
    }

    i.MB {
        background-position: 0px -186px;
    }

    i.VIB {
        background-position: 0px -217px;
    }

    i.ICB {
        background-position: 0px -248px;
    }

    i.EXB {
        background-position: 0px -279px;
    }

    i.ACB {
        background-position: 0px -310px;
    }

    i.HDB {
        background-position: 0px -341px;
    }

    i.MSB {
        background-position: 0px -372px;
    }

    i.NVB {
        background-position: 0px -403px;
    }

    i.DAB {
        background-position: 0px -434px;
    }

    i.SHB {
        background-position: 0px -465px;
    }

    i.OJB {
        background-position: 0px -496px;
    }

    i.SEA {
        background-position: 0px -527px;
    }

    i.TPB {
        background-position: 0px -558px;
    }

    i.PGB {
        background-position: 0px -589px;
    }

    i.BIDV {
        background-position: 0px -620px;
    }

    i.AGB {
        background-position: 0px -651px;
    }

    i.SCB {
        background-position: 0px -682px;
    }

    i.VPB {
        background-position: 0px -713px;
    }

    i.VAB {
        background-position: 0px -744px;
    }

    i.GPB {
        background-position: 0px -775px;
    }

    i.SGB {
        background-position: 0px -806px;
    }

    i.NAB {
        background-position: 0px -837px;
    }

    i.BAB {
        background-position: 0px -868px;
    }

    ul.cardList li {
        cursor: pointer;
        float: left;
        margin-right: 0;
        padding: 5px 4px;
        text-align: center;
        width: 90px;
    }
</style>

<div class="p-3">
    <p>Thanh toán thông qua Ngân Lượng</p>
    <form asp-area="PaymentNganLuong" asp-controller="NganLuong" asp-action="Payment" method="POST" class="form-horizontal">
        <div>
            <div class="form-group form-check">
                <input type="radio" value="ATM_ONLINE" name="paymentOption" class="form-check-input" id="domesticBank">
                <label class="form-check-label" for="domesticBank">Thanh toán online bằng thẻ ngân hàng nội địa</label>
            </div>
            <div class="form-group">
                <p>Lưu ý: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</p>
                <ul class="cardList list-unstyled clearfix">
                    <li class="bank-online-methods">
                        <label for="vcb">
                            <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                        </label>
                        <input id="vcb" type="radio" name="bankCode" value="VCB" />
                    </li>
                    <li class="bank-online-methods">
                        <label for="dab">
                            <i class="DAB" title="Ngân hàng Đông Á"></i>
                        </label>
                        <input id="dab" type="radio" name="bankCode" value="DAB" />
                    </li>
                    <li class="bank-online-methods">
                        <label for="exb">
                            <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                        </label>
                        <input id="exb" type="radio" name="bankCode" value="EXB" />
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="form-group form-check">
                <input type="radio" value="NL" name="paymentOption" class="form-check-input" id="viNganLuong">
                <label class="form-check-label" for="viNganLuong">Thanh toán bằng Ví điện tử NgânLượng</label>
            </div>
            <div class="">
                Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê
                <br />Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a>
            </div>
        </div>
        <div>
            <div class="form-group form-check">
                <input type="radio" value="VISA" name="paymentOption" class="form-check-input" id="nganLuongVisa">
                <label class="form-check-label" for="nganLuongVisa">Thanh toán bằng thẻ Visa hoặc MasterCard</label>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-order">Thanh toán</button>
        </div>
    </form>
</div>
