<label>Cash on Delivery</label>
<form asp-controller="CoD" asp-action="CoDCheckout" method="POST" id="checkout-payment" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-order">@Localizer["Cash on Delivery"]</button>
        </div>
    </div>
</form>