.logoff {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    color: #b2b2b2;
    font-family: Poppins-Regular;
    font-size: 12px;
    height: 100%;
    line-height: 1.8;
}


/* product list*/

.product-list a:hover { text-decoration: none; }

.product-list .product-price { color: red; }

.product-list .product-ratings > li {
    color: #777;
    font-size: 90%;
    margin-left: -2px;
    margin-right: 0;
}

.product-list .product-price-saving {
    background-color: #ff9601;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: -2px;
    padding: 4px;
    vertical-align: middle;
}

.product-list .product-price-regular {
    color: #4c4849;
    font-size: 11px;
    font-weight: 100;
    text-decoration: line-through;
}

.product-list .card:hover { border-color: #337ab7; }

.product-list .buttons { padding: 9px; }

.product-list-filters h3 { margin-top: 27px; }

.product-list .btn {
    background: #ddd;
    border: 0;
    border-radius: 0;
    color: #18ba9b;
    font-size: 18px;
    margin: -1px;
    padding: 5px 10px;
}

.product-list .btn:hover { background: #eee; }

.product-list .btn-add-cart-style {
    background: #f0f0f0;
    color: #777;
    font-size: 14px;
    padding: 8px 0px;
    text-align: center;
    width: 100%
}

.product-list .card:hover .btn-add-cart-style {
    background: #2cd5b6;
    color: #fff;
}

#accordion-brand ul, #accordion-category ul { padding-left: 30px; }

#priceSlider { margin: 17px }

#minPrice {
    float: left;
    width: 80px;
}

#maxPrice {
    float: right;
    text-align: right;
    width: 80px;
}

.price-actions {
    float: right;
    margin-top: 15px;
}

.category-result h2 {
    float: left;
    font-size: 30px;
    margin-right: 20px;
}

.category-result .badge-results {
    background: #c9253c;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    position: relative;
    top: 10px;
}

.product-list-display-options { margin-top: 14px; }

.product-list-display-options label { font-weight: normal; }

.product-list-display-options .show-option {
    float: right;
    margin-left: 3px;
    padding-right: 0;
}

.product-list-display-options .show-option i {
    background: #18ba9b;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 37px;
    line-height: 30px;
    padding: 6px;
    text-align: center;
    width: 37px;
}

.product-list-display-options .sort-by { float: right; }

.product-list-display-options .pagination-option { float: right; }

/* car list*/

.cart-list .product-image { width: 120px; }

.cart-list .product-image img { width: 120px; }

.cart-list .quantity-button {
    background: #eee;
    background-image: none;
    border: none;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    outline: none;
    padding: 3px;
    text-align: center;
    white-space: nowrap;
    width: 35px;
}

.cart-list .quantity-field {
    border: 1px solid #eee;
    font-size: 14px;
    height: 30px;
    margin: 0 -4px;
    outline: none;
    text-align: center;
    width: 35px;
}

.cart-list .cart-items > thead > tr > th {
    border-bottom: none;
    color: #687074;
    text-transform: uppercase;
}

.cart-list .cart-items > tbody > tr > td { border-top: none; }

.cart-list .order-summary h4 {
    color: #687074;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.cart-list .order-summary .btn {
    background: #18ba9b;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    padding: 8px 43px;
    text-transform: uppercase;
    width: 100%;
}

.coupon-form { margin-top: 20px; }

.coupon-form .form-group input { width: 197px; }

/* Checkout*/

.btn-order {
    background: #18ba9b;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    padding: 8px 43px;
    text-transform: uppercase;
    width: 100%;
    width: 240px;
}

.btn-order:hover {
    background: #2cd5b6;
    color: #fff;
}

.order-history img { width: 60px; }

.list-inline {
    margin-bottom: 6px;
    margin-top: 6px;
}

.list-inline li {
    height: 22px;
    line-height: 22px;
}

.list-inline a { text-decoration: none; }

#logoutForm {
    display: inline-flex;
    line-height: 22px;
}

#logoutForm button { text-decoration: none; }

.rating-container .caption {
    font-size: 70%;
    margin-top: -2px;
}

.rating-container .filled-stars {
    -webkit-text-stroke: 0;
    color: #18ba9b;
    text-shadow: none;
}

.rating-xs { font-size: 1.2em; }

.product-comparison-result-remove { padding-top: 10px; }

/*Contact form*/

.input-contact { max-width: 100%; }

#googleMap {
    height: 334px;
    margin-top: 75px;
}

.space-bar-widget-icon { font-size: 140px; }

.payment-method {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    height: 100px;
    margin-bottom: 25px;
    padding: 17px 5px 5px;
    text-align: center;
}

.product-detail .quantity-field { display: inline; }

footer input, footer label, .container-search-header input {
    border: none;
    display: block;
    outline: none;
}

#shopModal { z-index: 2000; }