@model int
<a href="~/cart">
    <div class="cart-badge icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart">
        <i class="zmdi zmdi-shopping-cart"></i>
        <span class="badge">@Model</span>
    </div>
</a>
