/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.input-validation-error {
    border-color: red;
}

.inline {
    display: inline;
}

.top-bar {
    background-color: #212121;
    color: #e7e7e7;
}

    .top-bar > div > ul > li > a, .top-bar .top-bar > div > ul > li > a:visited {
        color: #e7e7e7;
    }

    .top-bar .btn-link {
        padding: 0;
        color: #e7e7e7;
    }

.main-header {
    padding: 15px 0;
    background-color: #f9f9f9;
}

@media (max-width : 992px) {
    .logo {
        text-align: center
    }
}

.main-header .form-inline .form-group {
    margin: 0px -3px;
}

.main-header .search-box {
    margin-top: 7px;
}

.main-header .search-input {
    width: calc(100% - 215px);
}

    .main-header .search-input input {
        height: 35px;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }

.main-header .search-category select {
    height: 35px;
    border-radius: 0;
    width: 180px;
}

.main-header .search-btn {
    background-color: #2196f3;
    border: 0;
    border-radius: 0;
    color: #fff;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
}

@media (max-width : 768px) {
    .main-header .search-input {
        width: calc(100% - 35px)
    }

    .main-header .search-btn {
        right: 15px
    }

    .main-nav {
        min-height: 40px;
    }
}

.main-nav {
    background-color: #f3f3f3;
}

@media (min-width : 768px) {
    .main-menu {
        display: table;
        float: none;
        margin: 0 auto;
    }
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;
    text-transform: uppercase;
}

li.nav-item-group, li.nav-item-group a {
    font-weight: bold;
}

.cart-badge {
    position: relative;
    top: 2px;
    right: 0px;
    margin-left: 20px;
    padding-top: 8px;
    padding-right: 18px;
}

    .cart-badge i {
        font-size: 34px;
    }

    .cart-badge span.badge {
        top: 0;
        right: 5px;
        position: absolute;
        background: red;
    }

.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
    padding: 5px 7px
}

.breadcrumb {
    background-color: #FFFFFF;
    padding: 0;
}

.footer-content {
    margin-top: 30px;
    background-color: #eee;
}

    .footer-content hr {
        border-color: #ddd;
    }


/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* product list*/
.product-list a:hover {
    text-decoration: none;
}

.product-list .product-price {
    color: red;
}

.product-list .product-ratings > li {
    margin-left: -2px;
    margin-right: 0;
    color: #777;
    font-size: 90%;
}

.product-list .product-price-saving {
    background-color: #ff9601;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: -2px;
    padding: 4px;
    vertical-align: middle;
}

.product-list .product-price-regular {
    text-decoration: line-through;
    font-weight: 100;
    color: #4c4849;
    font-size: 11px;
}

.product-list .thumbnail:hover {
    border-color: #337ab7;
}

.product-list .buttons {
    padding: 9px;
}

.product-list-filters h3 {
    margin-top: 27px;
}

.product-list .btn {
    background: #ddd;
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    color: #18ba9b;
    border-radius: 0;
    margin: -1px;
}

    .product-list .btn:hover {
        background: #eee;
    }

.product-list .btn-add-cart-style {
    background: #f0f0f0;
    padding: 8px 0px;
    font-size: 14px;
    color: #777;
    text-align: center;
    width: 100%
}

.product-list .thumbnail:hover .btn-add-cart-style {
    background: #2cd5b6;
    color: #fff;
}

#accordion-brand ul, #accordion-category ul {
    padding-left: 30px;
}

#priceSlider {
    margin: 17px
}

#minPrice {
    width: 110px;
    float: left;
}

#maxPrice {
    width: 110px;
    float: right;
    text-align: right;
}

.price-actions {
    float: right;
    margin-top: 15px;
}

.category-result h2 {
    float: left;
    font-size: 30px;
    margin-right: 20px;
}

.category-result .badge-results {
    top: 26px;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    position: relative;
    background: #c9253c;
}

.product-list-display-options {
    margin-top: 14px;
}

    .product-list-display-options label {
        font-weight: normal;
    }

    .product-list-display-options .show-option {
        float: right;
        padding-right: 0;
    }

        .product-list-display-options .show-option i {
            color: #fff;
            width: 30px;
            height: 30px;
            padding: 6px;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            background: #18ba9b;
            display: inline-block;
        }

    .product-list-display-options .sort-by {
        float: right;
    }

    .product-list-display-options .pagination-option {
        float: right;
    }

/* car list*/
.cart-list .product-image {
    width: 120px;
}

    .cart-list .product-image img {
        width: 120px;
    }

.cart-list .quantity-button {
    color: #555;
    width: 35px;
    height: 30px;
    padding: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background: #eee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

.cart-list .quantity-field {
    width: 35px;
    height: 30px;
    outline: none;
    margin: 0 -4px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #eee;
}

.cart-list .table > thead > tr > th {
    border-bottom: none;
    text-transform: uppercase;
    color: #687074;
}

.cart-list .table > tbody > tr > td {
    border-top: none;
}

.cart-list .order-summary h4 {
    text-transform: uppercase;
    color: #687074;
    padding-bottom: 20px;
}

.cart-list .order-summary dt {
    text-align: left;
}

.cart-list .order-summary dd {
    text-align: right;
}

.cart-list .order-summary .btn {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
}

.coupon-form {
    margin-top: 20px;
}

.coupon-form .form-group input {
    width: 197px;
}

/* Checkout*/
.btn-order {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    width: 200px;
}

    .btn-order:hover {
        color: #fff;
        background: #2cd5b6;
    }

.order-history img {
    width: 60px;
}

.list-inline {
    margin-bottom: 6px;
    margin-top: 6px;
}

    .list-inline li {
        height: 22px;
        line-height: 22px;
    }

    .list-inline a {
        text-decoration: none;
    }

#logoutForm {
    display: inline-flex;
    line-height: 22px;
}

    #logoutForm button {
        text-decoration: none;
    }

/*Responsive Navbar*/
@media (max-width: 991px) {
    .main-nav .navbar-header {
        float: none;
    }

    .main-nav .navbar-toggle {
        display: block;
    }

    .main-nav .navbar-collapse.collapse {
        display: none !important;
    }

        .main-nav .navbar-collapse.collapse.in {
            display: block !important;
            overflow-y: auto !important;
        }

    .main-nav .navbar-nav {
        margin: 0;
        float: none !important;
    }

        .main-nav .navbar-nav > li {
            float: none;
        }

        /*Dropdown Menu Slide Down Effect*/
        .main-nav .navbar-nav .open .dropdown-menu {
            border: 0;
            float: none;
            width: auto;
            margin-top: 0;
            position: static;
            box-shadow: none;
            background-color: transparent;
        }

            .main-nav .navbar-nav .open .dropdown-menu > li > a,
            .main-nav .navbar-nav .open .dropdown-menu .dropdown-header {
                padding: 5px 15px 5px 25px;
            }

            .main-nav .navbar-nav .open .dropdown-menu > li > a {
                line-height: 20px;
            }

                .main-nav .navbar-nav .open .dropdown-menu > li > a:hover,
                .main-nav .navbar-nav .open .dropdown-menu > li > a:focus {
                    background-image: none;
                }

    .main-nav .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

        .main-nav .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .main-nav .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
            background-color: transparent;
        }

    .main-nav .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .main-nav .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .main-nav .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .main-nav .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .main-nav .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .main-nav .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .main-nav .navbar-default .dropdown-menu.no-bottom-space {
        padding-bottom: 0;
    }

    .main-nav .navbar-collapse,
    .main-nav .navbar-collapse .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .main-nav .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        padding: 9px 10px;
    }

    .main-nav .navbar-default .navbar-nav > li a {
        border-bottom: solid 1px #eee;
    }

    .main-nav .navbar-default .navbar-nav > li > a:focus {
        background: none;
    }

    .main-nav .navbar-default .navbar-nav > li > a:hover {
        color: #72c02c;
    }

    .main-nav .navbar-default .navbar-nav > .active > a,
    .main-nav .navbar-default .navbar-nav > .active > a:hover,
    .main-nav .navbar-default .navbar-nav > .active > a:focus {
        color: #fff !important;
        background: #72c02c !important;
    }

    .main-nav .dropdown .dropdown-submenu > a {
        color: #333 !important;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    /*Navbar Collapse*/
    .main-nav .navbar-collapse {
        padding: 0;
    }

    .main-nav .navbar-default .navbar-nav > li > a:last-child {
        padding-right: 15px;
    }

    .main-nav .navbar-default .navbar-nav > li > a,
    .main-nav .navbar-default .navbar-nav > li > a:focus {
        border-top: solid 2px transparent;
    }

        .main-nav .navbar-default .navbar-nav > li > a:hover,
        .main-nav .navbar-default .navbar-nav > .active > a {
            border-top: solid 2px #72c02c;
        }

            .main-nav .navbar-default .navbar-nav > li > a,
            .main-nav .navbar-default .navbar-nav > li > a:hover,
            .main-nav .navbar-default .navbar-nav > li > a:focus,
            .main-nav .navbar-default .navbar-nav > .active > a,
            .main-nav .navbar-default .navbar-nav > .active > a:hover,
            .main-nav .navbar-default .navbar-nav > .active > a:focus {
                background: none;
            }

    .main-nav .navbar-default .navbar-nav > .open > a,
    .main-nav .navbar-default .navbar-nav > .open > a:hover,
    .main-nav .navbar-default .navbar-nav > .open > a:focus {
        color: #72c02c;
    }

    .main-nav .navbar-default .navbar-nav > li:hover > a {
        color: #72c02c;
    }

    /*Dropdown Menu*/
    .main-nav .dropdown-menu {
        padding: 0;
        border: none;
        min-width: 200px;
        border-radius: 0;
        z-index: 9999 !important;
        border-top: solid 2px #72c02c;
        box-shadow: 0 5px 5px 0px rgba(90,90,90,0.075);
    }

        .main-nav .dropdown-menu li a {
            color: #687074;
            font-weight: 400;
            padding: 8px 15px;
            border-bottom: solid 1px #dedede;
        }

        .main-nav .dropdown-menu .active > a,
        .main-nav .dropdown-menu li > a:hover {
            color: #fff;
            background: #72c02c;
            filter: none !important;
        }

        .main-nav .dropdown-menu li > a:focus {
            color: inherit;
            background: none;
            filter: none !important;
        }

    .main-nav .navbar-nav > li.dropdown:hover > .dropdown-menu {
        display: block;
    }

    .main-nav .open > .dropdown-menu {
        display: none;
    }

    .main-nav .dropdown-menu li.dropdown-submenu:hover > a {
        color: #fff;
        background: #72c02c;
    }
}

/*Dropdown Submenu*/
.main-nav .dropdown-submenu {
    position: relative;
}

    .main-nav .dropdown > a:after,
    .main-nav .dropdown-submenu > a:after {
        top: 8px;
        right: 9px;
        font-size: 11px;
        content: "\f105";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
    }

@media (max-width: 991px) {
    .main-nav .dropdown-submenu > a:after {
        content: " ";
    }

    .main-nav .dropdown > a:after {
        top: 9px;
        right: 15px;
        content: "\f107";
    }
}

@media (min-width: 992px) {
    .main-nav .dropdown > a:after {
        content: " ";
    }
}

.main-nav .dropdown-submenu > .dropdown-menu {
    top: 3px;
    left: 100%;
    margin-top: -5px;
    margin-left: 0px;
}

.main-nav .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

@media (max-width: 991px) {
    .main-nav .dropdown-submenu > .dropdown-menu {
        display: block;
        margin-left: 15px;
    }
}

.rating-container .caption {
    font-size: 70%;
    margin-top: -2px;
}

.rating-container .filled-stars {
    -webkit-text-stroke: 0;
    text-shadow: none;
    color: #18ba9b;
}

.rating-xs {
    font-size: 1.2em;
}

.product-comparison-result-remove {
    padding-top: 10px;
}

/*Contact form*/
.input-contact {
    max-width: 100%;
}

#googleMap {
    height: 334px;
    margin-top: 75px;
}
