/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.input-validation-error {
    border-color: red;
}

.inline {
    display: inline;
}

.top-bar {
    background-color: #212121;
    color: #e7e7e7;
}

    .top-bar > div > ul > li > a, .top-bar .top-bar > div > ul > li > a:visited {
        color: #e7e7e7;
    }

    .top-bar .btn-link {
        color: #e7e7e7;
    }

.main-header {
    padding: 15px 0;
    background-color: #f9f9f9;
}

@media (max-width : 992px) {
    .logo {
        text-align: center
    }
}

.main-header .form-inline .form-group {
    margin: 0px -3px;
}

.main-header .search-box {
    margin-top: 7px;
}

.main-header .search-input {
    width: calc(100% - 215px);
}

    .main-header .search-input input {
        height: 38px;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }

.main-header .search-category select {
    height: 35px;
    border-radius: 0;
    width: 180px;
}

.main-header .search-btn {
    background-color: #2196f3;
    border: 0;
    border-radius: 0;
    color: #fff;
    width: 38px;
    height: 38px;
    position: sticky;
    top: 0;
    right:22px;
}

@media (max-width : 992px) {
    .main-header .search-input {
        width: calc(100% - 35px)
    }

    .main-header .search-btn {
        right: 15px
    }

    .main-nav {
        min-height: 40px;
    }
}

.main-nav {
    background-color: #f3f3f3;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
}

#navbarMain > ul {
    margin: 0 auto;
}

#navbarMain .navbar-nav > li > a {
    font-size: 15px;
    text-transform: uppercase;
}

li.nav-item-group, li.nav-item-group a {
    font-weight: bold;
}

.cart-badge {
    position: relative;
    top: 2px;
    right: 0px;
    margin-left: 20px;
    padding-top: 8px;
    padding-right: 18px;
}

    .cart-badge i {
        font-size: 34px;
    }

    .cart-badge span.badge {
        top: 0;
        right: 5px;
        position: absolute;
        background: red;
        color: white;
    }

.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
    padding: 5px 7px
}

.breadcrumb {
    background-color: #FFFFFF;
    padding: 0;
}

.footer-content {
    margin-top: 30px;
    background-color: #eee;
}

    .footer-content hr {
        border-color: #ddd;
    }


/* product list*/
.product-list a:hover {
    text-decoration: none;
}

.product-list .product-price {
    color: red;
}

.product-list .product-ratings > li {
    margin-left: -2px;
    margin-right: 0;
    color: #777;
    font-size: 90%;
}

.product-list .product-price-saving {
    background-color: #ff9601;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: -2px;
    padding: 4px;
    vertical-align: middle;
}

.product-list .product-price-regular {
    text-decoration: line-through;
    font-weight: 100;
    color: #4c4849;
    font-size: 11px;
}

.product-list .card:hover {
    border-color: #337ab7;
}

.product-list .buttons {
    padding: 9px;
}

.product-list-filters h3 {
    margin-top: 27px;
}

.product-list .btn {
    background: #ddd;
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    color: #18ba9b;
    border-radius: 0;
    margin: -1px;
}

    .product-list .btn:hover {
        background: #eee;
    }

.product-list .btn-add-cart-style {
    background: #f0f0f0;
    padding: 8px 0px;
    font-size: 14px;
    color: #777;
    text-align: center;
    width: 100%
}

.product-list .card:hover .btn-add-cart-style {
    background: #2cd5b6;
    color: #fff;
}

#accordion-brand ul, #accordion-category ul {
    padding-left: 30px;
}

#priceSlider {
    margin: 17px
}

#minPrice {
    width: 80px;
    float: left;
}

#maxPrice {
    width: 80px;
    float: right;
    text-align: right;
}

.price-actions {
    float: right;
    margin-top: 15px;
}

.category-result h2 {
    float: left;
    font-size: 30px;
    margin-right: 20px;
}

.category-result .badge-results {
    top: 10px;
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    position: relative;
    background: #c9253c;
}

.product-list-display-options {
    margin-top: 14px;
}

    .product-list-display-options label {
        font-weight: normal;
    }

    .product-list-display-options .show-option {
        float: right;
        padding-right: 0;
        margin-left: 3px;
    }

        .product-list-display-options .show-option i {
            color: #fff;
            width: 37px;
            height: 37px;
            padding: 6px;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            background: #18ba9b;
            display: inline-block;
        }

    .product-list-display-options .sort-by {
        float: right;
    }

    .product-list-display-options .pagination-option {
        float: right;
    }

/* car list*/
.cart-list .product-image {
    width: 120px;
}

    .cart-list .product-image img {
        width: 120px;
    }

.cart-list .quantity-button {
    color: #555;
    width: 35px;
    height: 30px;
    padding: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background: #eee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

.cart-list .quantity-field {
    width: 35px;
    height: 30px;
    outline: none;
    margin: 0 -4px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #eee;
}

.cart-list .cart-items > thead > tr > th {
    border-bottom: none;
    text-transform: uppercase;
    color: #687074;
}

.cart-list .cart-items > tbody > tr > td {
    border-top: none;
}

.cart-list .order-summary h4 {
    text-transform: uppercase;
    color: #687074;
    padding-bottom: 20px;
}

.cart-list .order-summary .btn {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
}

.cart-list .order-note-form textarea {
    max-width: 100%;
}

.cart-list .order-summary .order-note-form {
    padding-bottom: 20px;
}

.coupon-form {
    margin-top: 20px;
}

.coupon-form .form-group input {
    width: 197px;
}

/* Checkout*/
.btn-order {
    background: #18ba9b;
    padding: 8px 43px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    width: 200px;
}

    .btn-order:hover {
        color: #fff;
        background: #2cd5b6;
    }

.order-history img {
    width: 60px;
}

.list-inline {
    margin-bottom: 6px;
    margin-top: 6px;
}

    .list-inline li {
        height: 22px;
        line-height: 22px;
    }

    .list-inline a {
        text-decoration: none;
    }

#logoutForm {
    display: inline-flex;
    line-height: 22px;
}

    #logoutForm button {
        text-decoration: none;
    }

.rating-container .caption {
    font-size: 70%;
    margin-top: -2px;
}

.rating-container .filled-stars {
    -webkit-text-stroke: 0;
    text-shadow: none;
    color: #18ba9b;
}

.rating-xs {
    font-size: 1.2em;
}

.product-comparison-result-remove {
    padding-top: 10px;
}

/*Contact form*/
.input-contact {
    max-width: 100%;
}

#googleMap {
    height: 334px;
    margin-top: 75px;
}

.space-bar-widget-icon {
    font-size: 140px;
}

.payment-method {
    height: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 17px 5px 5px;
    margin-bottom: 25px;
    text-align: center;
}

.quick-view {
    height: 25px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    text-align: center;
}

.modal-lg {
    min-width: 850px;
    max-width: 1200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-padding {
    padding: 10px 10px 10px 10px;
}