@model Shopcuatoi.Web.ViewModels.Checkout.DeliveryInformation

@{
    ViewBag.Title = "Delivery Information";
}

<div class="row">
    <div class="col-md-7">
        <h3>Shipping Address</h3>
    </div>
    <div class="col-md-5">
        <h3>Order Summary</h3>
    </div>
</div>