@model SimplCommerce.Module.News.ViewModels.NewsVm
@addTagHelper *, SimplCommerce.Infrastructure
@{
    ViewData["Title"] = "News";
}
@if (Model != null)
{
    <div class="news row">
        <div class="categories row">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                @foreach (var item in Model.NewsCategory)
                {
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-default" href="~/@item.SeoTitle"> @item.Name</a>
                    </div>
                }
            </div>
        </div>
        @if (Model.NewsByCategory.NewsItem != null)
        {
            <div class="news-category-detail row">
                @foreach (var item in Model.NewsByCategory.NewsItem)
                {
                    @await Html.PartialAsync("_NewsThumbnail", item)
                }
            </div>
        }
    </div>
}
